.myButton {

	/*tamaño de los botones*/
	height: 50%;
	width: 50%;

	
	-moz-box-shadow:inset 0px 1px 0px 0px #efdcfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #efdcfb;
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F7D358), color-stop(1, #FF8000));
	background:-moz-linear-gradient(top, #F7D358 5%, #FF8000 100%);
	background:-webkit-linear-gradient(top, #F7D358 5%, #FF8000 100%);
	background:-o-linear-gradient(top, #F7D358 5%, #FF8000 100%);
	background:-ms-linear-gradient(top, #F7D358 5%, #FF8000 100%);
	background:linear-gradient(to bottom, #F7D358 5%, #FF8000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7D358', endColorstr='#FF8000',GradientType=0);
	background-color:#F7D358;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	/*borde boton*/
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	/*Color letra*/
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	/*sombras*/
	text-shadow:0px 1px 0px #9752cc;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FF8000), color-stop(1, #F7D358));
	background:-moz-linear-gradient(top, #FF8000 5%, #F7D358 100%);
	background:-webkit-linear-gradient(top, #FF8000 5%, #F7D358 100%);
	background:-o-linear-gradient(top, #FF8000 5%, #F7D358 100%);
	background:-ms-linear-gradient(top, #FF8000 5%, #F7D358 100%);
	background:linear-gradient(to bottom, #FF8000 5%, #F7D358 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8000', endColorstr='#F7D358',GradientType=0);
	background-color:#FF8000;
}

/*Cuando se le da Click a algun botón del menú este cambie la letra a otro color*/
.myButton:active {
	color: #61380B;
	position:relative;
	top:1px;
}
table{
	border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 5px solid #A5DF00;
background: #ffffff;
}
tr{
	border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 5px solid #A5DF00;
}
td{
	border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 5px solid #A5DF00;
}
th{
	border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 5px solid #A5DF00;
}

/* cambio de menu cuando el mouse pase por encima(cambio tamaño de la fuente, color de fondo, el tipo de fuente)*/
.myButton a:hover{
	/*Animacion*/
	transition: .5s all;
	transform: translate(0, 3px);
	font-size: 22px;
	font-family:'century';
	background-color: #A5DF00;
}

.myButton a{
	height: 100%;
	width: 100%;

}


.menu_db {
	justify-content: center;
	align-items: center;
	position: relative;
	display: flex;
}